{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe • Lorenzzo's Pizza{% endblock %}

{% block hero %}{% endblock %}

{% block content %}

    <section class="account section">

        <div class="account container grid">

            <h1 class="account__title">Modifier mon mot de passe</h1>

            <div class="account__info">
                <h2 class="account__info-title">{{ app.user.firstname }},</h2>
                <p class="account__info-subtitle"><i>c'est dans cet espace que vous allez pouvoir modifier votre mot de passe.</i></p>
            </div>

            <div class="account__data">
                <div class="button">
                    <a href="{{ path('account') }}" class="button__title button__slide-effect">Retour à mon compte</a>
                </div>
            </div>

                {% if notification %}
                    <div class="account__form-notification">{{ notification }}</div>
                {% endif %}

                {{ form(form) }}

        </div>

    </section>

{% endblock %}
