{% extends 'base.html.twig' %}

{% block title %}Inscription • Lorenzzo's Pizza{% endblock %}

{% block hero %}{% endblock %}

{% block content %}

    <section class="subscribe section">

        <div class="subscribe__container container grid">

            <h1 class="subscribe__title">Ravi de vous rencontrer !</h1>

            {{ form(form) }}

        </div>

    </section>

{% endblock %}
